@import './reset.css';

*, ::before, ::after{
  box-sizing: inherit;
}

html, body{
  width: 100%;
  height: 100%;
  background-color: #888;
}

html{
  font-size: 62.5%;
}

body{
  box-sizing: border-box;
}

$bg_border-width: 8px;
$bg_border: $bg_border-width solid #555;

.container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 800px;
  background-color: #fff;
  .basic{
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
    .innerWall{
      position: absolute;
      left: 12%;
      top: 30%;
      height: 55%;
      border-left: $bg_border;
      border-radius: 10px;
    }
    .kitchen{
      position: absolute;
      right: $bg_border-width;
      top: $bg_border-width;
      height: 16%;
      background-color: rgb(122, 64, 12);
      display: flex;
      .work-place-list{
        display: flex;
        .work-place{
          position: relative;
          width: 130px;
          height: 100%;
          border: 1px solid #227722;
          .state{
            $height: 25px;
            position: absolute;
            left: 0;
            top: 100%;
            height: $height;
            width: 130px;
            padding: 0 5px;
            background-color: #FF9900;
            line-height: $height;
            border-radius: 0 0 5px 5px;
            display: flex;
            .thing{
              flex: 1 1 auto;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .time{
              flex: 0 0 30px;
            }
          }
        }
      }
      .cookList{
        position: relative;
        $title_height: 25px;
        width: 100px;
        height: 100%;
        background-color: #eee;
        overflow: hidden;
        .title{
          height: $title_height;
          line-height: $title_height;
          padding: 0 5px;
          background-color: #333;
          color: #ddd;
        }
        .wrapper{
          position: absolute;
          width: calc(100% + 20px);
          height: 100%;
          left: 0;
          top: $title_height;
          overflow-x: hidden;
          overflow-y: auto;
          ul{
            width: 100%;
            background-color: #666633;
          }
          li{
            $height: 20px;
            height: $height;
            padding: 0 5px;
            line-height: $height;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: ghostwhite;
          }
        }
      }
    }
    .place-list{
      position: absolute;
      width: 100%;
      height: 100%;
      .place{
        position: absolute;
        width: 14%;
        height: 20%;
        top: 75.8%;
        .table{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 65%;
          background-color: rgb(133, 196, 49);
          border-radius: 10px;
          .state{
            position: absolute;
            left: 50%;
            top: 50%;
            overflow: hidden;
            text-align: center;
            transform: translate(-50%, -50%);
            white-space: nowrap;
          }
          .list{
            position: absolute;
            left: 0;
            bottom: 100%;
            width: 100%;
            list-style:none;
            font-size: 1.4rem;
            li{
              padding: 5px;
              display: flex;
              border: 1px solid #ddd;
              color: #333;
              span{
                flex: 1 1 auto;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
              i{
                flex: 0 0 40%;
                text-align: right;
              }
            }
            li:not(:last-child){
              border-bottom-color: transparent;
            }
            li:first-child{
              border-radius: 10% 10% 0 0;
            }
            li:last-child{
              border-radius: 0 0 10% 10%;
            }
            li.serving{
              background-color: orange
            }
            li.served{
              background-color: red;
            }
            li.eated{
              background-color: #999;
            }
          }
        }
        .seat{
          position: absolute;
          left: 50%;
          top: 88%;
          width: 30px;
          height: 30px;
          transform: translate(-50%, -50%);
          background-color: green;
          border-radius: 50%;
        }
      }
      .place:nth-child(1){
        left: 20%;
      }
      .place:nth-child(2){
        left: 40%;
      }
      .place:nth-child(3){
        left: 60%;
      }
      .place:nth-child(4){
        left: 80%;
      }
    }
    .cash-bar{
      position: absolute;
      left: 38%;
      top: $bg_border-width;
      min-width: 5%;
      background-color: orange;
      transform: translate(-50%);
      padding: 10px 15px;
      font-size: 1.6rem;
      font-weight: bold;
      border-radius: 0 0 10% 10%;
      color: white;
    }
  }
  .basic::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 80%;
    border-top: $bg_border;
    border-right: $bg_border;
    border-bottom: $bg_border-width solid transparent;
  }
  .basic::after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80%;
    border-bottom: $bg_border;
    border-left: $bg_border;
    border-top: $bg_border-width solid transparent;
  }
  .man{
    $avatar_width: 5%;
    $avatar_height: 6.25%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .employees{
      .waiter{
        position: absolute;
        width: $avatar_width;
        height: $avatar_height;
        background: center/cover no-repeat;
        border-radius: 10%;
      }
      .chef{
        position: absolute;
        width: $avatar_width;
        height: $avatar_height;
        background: center/cover no-repeat;
        border-radius: 10%;
      }
    }
    .customers{
      .customer{
        position: absolute;
        width: $avatar_width;
        height: $avatar_height;
        background: center/cover no-repeat;
        border-radius: 10%;
      }
    }
  }
  .restaurant-state{
    position: absolute;
    left: 100%;
    top: 0;
    width: 170px;
    height: 100%;
    background-color: rgb(122, 64, 12);
    border: 2px solid rgb(90, 30, 12);
    display: flex;
    flex-direction: column;
    .state{
      font-size: 1.6rem;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: #bbdd11;
      background-color: rgb(90, 30, 12);
    }
    .employees{
      $li_height: 50px;
      flex: 1 1 auto;
      overflow: hidden;
      li{
        background-color: rgb(150, 100, 12);
        height: $li_height;
        display: flex;
        .avatar{
          width: $li_height;
          height: $li_height;
          background: center/cover no-repeat;
        }
        .detail{
          margin-left: 5px;
          flex: 1 1 auto;
          display: flex;
          flex-direction: column;
          p{
            flex: 1 1 auto;
            line-height: 25px;
          }
          .fire{
            height: 25px;
            text-decoration: none;
            text-align: center;
            line-height: 25px;
            background-color: rgb(120, 80, 12);
            color: black;
          }
          .fire:hover{
            background-color: rgb(100, 60, 12);
          }
        }
      }
    }
    .control{
      display: flex;
      flex-direction: column;
      a{
        color: white;
        height: 30px;
        line-height: 30px;
        text-align: center;
        text-decoration: none;
        background-color: rgb(90, 30, 12);
      }
      a:not(:first-child){
        border-top: 1px solid rgb(122, 64, 12);
      }
      a:hover{
        background-color: #ccc;
        background-color: rgb(150, 120, 12);
      }
    }
  }
}
.msg{
  position: absolute;
  left: 0;
  top: -30px;
  height: 24px;
  min-width: 40px;
  padding: 0 10px;
  background-color: #eee;
  border: 1px solid #aaa;
  border-radius: 3px 3px 3px 3px;
  line-height: 24px;
  white-space: nowrap;
}
.msg::before{
  position: absolute;
  content: '';
  display: block;
  left: 5px;
  top: calc(100% - 1px);
  border-top: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}